// hive13-variables.less

@font-family-sans-serif-base: "Helvetica Neue", Helvetica, Arial, sans-serif;
@font-family-sans-serif: "Open Sans", @font-family-sans-serif-base;
@font-family-headline: "Exo 2", @font-family-sans-serif-base;

@headings-font-family: @font-family-headline;
